@media (max-width: 768px) {
  .news-img {
    display: none;
  }
}

.news-img {
  overflow: hidden;
}

.news-img img {
  transition: all 1s ease;
}

.news-card a {
  transition: all 0.2s ease;
}

.news-card {
  box-shadow: 0 0 15px rgba(33, 33, 33, 0.2);
  transition: all 0.5s ease;
  width: 100%;
}

.news-card > div > h5 {
  font-size: 72%;
  font-weight: bold;
  color: #820000;
}

.news-card:hover {
  box-shadow: 0 0 25px rgba(33, 33, 33, 0.2);
}

.news-card:hover img {
  transform: scale(1.08);
}

.news-link {
  color: #000;
  font-weight: bold;
}
.news-link:hover {
  color: #0b6cad;
}

.contain {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.contain:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.36), 0 2px 10px 0 rgba(0, 0, 0, 0);
}

.contain:hover .content {
  opacity: 0;
  transition: all 1s ease;
}

.contain .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 0px; /* Some padding */
}

.ev {
  padding: 1rem 1rem 1rem 0;
  display: table;
}

.scrollbar-morpheus-den::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-morpheus-den::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.scrollbar-morpheus-den::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#30cfd0),
    to(#330867)
  );
  background-image: -webkit-linear-gradient(bottom, #30cfd0 0%, #330867 100%);
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.square::-webkit-scrollbar-track {
  border-radius: 0 !important;
}

.square::-webkit-scrollbar-thumb {
  border-radius: 0;
}

.thin::-webkit-scrollbar {
  width: 6px;
}

.example-1 {
  position: relative;
  overflow-y: scroll;
  height: 610px;
}

.card {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: 0;
  font-weight: 400;
}

@media (max-width: 768px) {
  .event-img {
    display: none;
  }
}

.event-img {
  overflow: hidden;
}

.event-img img {
  transition: all 1s ease;
}

.event-card a {
  transition: all 0.2s ease;
}

.event-card {
  box-shadow: 0 0 15px rgba(33, 33, 33, 0.2);
  transition: all 0.5s ease;
  width: 100%;
}

.tag {
  color: #820000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 0.32768em;
}

.card-body > h5 a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.event-card:hover {
  box-shadow: 0 0 25px rgba(33, 33, 33, 0.2);
}

.event-card:hover img {
  transform: scale(1.08);
}

.event-link {
  color: #000;
  font-weight: bold;
}
.event-link:hover {
  color: #0b6cad;
}

.date {
  background-color: #2f2424;
  color: #fff;
}

.date {
  margin-left: 24px;
}

.date {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), 0 3px 3px rgba(0, 0, 0, 0.15);
}
.date {
  position: relative;
  width: 3.8888888889em;
  height: 3.8888888889em;
  line-height: 1.1;
  margin-bottom: -2.888888889em;
  top: -1.9444444444em;
  text-align: center;
  padding-top: 0.8333333333em;
}

.date .month {
  display: block;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-bottom: 0;
  width: 100%;
}
.date .day {
  display: block;
  font-weight: 600;
  font-size: 1.25em;
  margin-bottom: 0;
  width: 100%;
}
